aiohttp
async-timeout
websocket-client
selenium==4.3.2
scikit-learn
flask
dash
Werkzeug
flask_socketio
flask_cors
flask_sqlalchemy
requests
gunicorn
socket-client
certifi
trio
trio-websocket
typing_extensions
urllib3
websocket-client